<div class="header">
  <button nz-button nzType="primary" (click)="createModal()">
    <span nz-tooltip nzTooltipTitle="新增">
      <i nz-icon nzType="plus" nzTheme="outline"></i>
    </span>
  </button>
</div>
<nz-table
  #basicTable
  [nzData]="productCategory"
  nzFrontPagination="false"
  nzHideOnSinglePage="true"
  [nzLoading]="isLoading"
  [nzTotal]="totalCount"
  [nzPageIndex]="pageIndex"
  [nzPageSize]="pageSize"
  (nzQueryParams)="PageIndexChange($event)"
>
  <thead>
  <tr>
    <th i18n="@@product_category.name">类型</th>
    <th i18n="@@product_category.img">图片</th>
    <th i18n="@@product_category.tag">标签</th>
    <th i18n="@@product_category.action">操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data">
    <td nz-tooltip [nzTooltipTitle]="data.name">{{ data.name }}</td>
    <td>
      <img class="coverImg" [src]="data.coverImg" [alt]="data.name" width="100px" height="100px" />
    </td>
    <td>{{ data.tag }}</td>
    <td>
        <span nz-tooltip nzTooltipTitle="编辑" i18n-nzTooltipTitle="@@product_category.edit">
          <a i18n="@@product_category.edit">编辑</a>
        </span>
      <nz-divider nzType="vertical"></nz-divider>
      <span nz-tooltip nzTooltipTitle="删除" i18n-nzTooltipTitle="@@product_category.delete">
          <a
            nz-popconfirm
            [nzPopconfirmTitle]="'Are you sure delete ' + data.name + '?'"
            nzPopconfirmPlacement="bottom"
            (nzOnConfirm)="DeleteData(data)"
            i18n="@@product_category.delete"
          >删除</a>
        </span>
    </td>
  </tr>
  </tbody>
</nz-table>
